<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="prodVO" type="com.sample.shop.model.prodVO" />
		<typeAlias alias="UserVO" type="com.sample.shop.model.UserVO" />
		<typeAlias alias="boardVO" type="com.sample.shop.model.boardVO" />
		<typeAlias alias="cartVO" type="com.sample.shop.model.cartVO" />
		<typeAlias alias="mainImgVO" type="com.sample.shop.model.mainImgVO" />
		<typeAlias alias="purchaseVO" type="com.sample.shop.model.purchaseVO" />
		<typeAlias alias="salesVO" type="com.sample.shop.model.salesVO" />
		<typeAlias alias="delVO" type="com.sample.shop.model.delVO" />
		<typeAlias alias="inqVO" type="com.sample.shop.model.inqVO" />
		<typeAlias alias="wishVO" type="com.sample.shop.model.wishVO" />
	</typeAliases>
</configuration>