<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="prodVO" type="com.sample.shop.model.prodVO" />
		<typeAlias alias="UserVO" type="com.sample.shop.model.UserVO" />
		<typeAlias alias="boardVO" type="com.sample.shop.model.boardVO" />
		<typeAlias alias="cartVO" type="com.sample.shop.model.cartVO" />
		<typeAlias alias="mainImgVO" type="com.sample.shop.model.mainImgVO" />
		<typeAlias alias="purchaseVO" type="com.sample.shop.model.purchaseVO" />
		<!-- Mapper xml 파일에서 패키지 풀네임 적을필요 없이 userVO만 적어도됨 -->
	</typeAliases>
</configuration>