.submitBtn{
  background:#55b5f7;
  border:none;
  position:relative;
  font-size:1em;
  padding:0 3.9em;
  cursor:pointer;
  transition:750ms ease all;
  outline:none;
}
.submitBtn:hover{
  background:#fff;
  color:#55b5f7;
}
.submitBtn:before,.submitBtn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.submitBtn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.submitBtn:hover:before, .submitBtn:hover:after{
  width:100%;
  transition:800ms ease all;
}
